 1 Explain the difference between Relative , Absolute and Mixed Cell Referencing.
You have the following dataset.


*   Relative Reference: Changes when you copy the formula (like pointing to the next cell).


*   Absolute Reference: Stays fixed no matter where you copy it (uses $ sign, e.g., $A$1).

*   Mixed Reference: Half fixed, half flexible (e.g., $A1 or A$1).

2 Write a formula to calculate the total sales of Car and Bicyle only only.

Formula: =SUM(B2,B3) (assuming Car price is in B2 and Bicycle price in B3).

3 Using the data below, write a formula to calculate the average sales of items priced above 100 but less than
300.

^ =AVERAGEIFS(SalesRange, PriceRange, ">100", PriceRange, "<300")

4 Count how many customer names are recorded.

^ 51 Customer names are recorded.

5 Calculate the Total Sales for each row using a formula.

^ 330.86

6 Calculate the total sales of Notebooks in the North region only.

^ 181841

7 Create a column chart showing total sales by product.

^[link text]https://docs.google.com/spreadsheets/d/1iQigmcjvhbrWot7QZFahTU9YDr1CH7U6/edit?usp=sharing&ouid=116128219227026102058&rtpof=true&sd=true

8 Insert a line chart showing daily sales trend.

^ [link text]https://docs.google.com/spreadsheets/d/1Ovl5Dms7SLDyrkN_-dA2kK31HV2hVTBG/edit?usp=sharing&ouid=116128219227026102058&rtpof=true&sd=true